body {
  margin: 0;
  background-color: #eee0da;
  background-image: url("../images/pottyok.png");
  background-repeat: no-repeat;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 100;
}
nav .basic-menu {
  height: 70px;
  background-color: #e5cbbf;
  background-image: linear-gradient(#eee0da, #e5cbbf);
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
}
.menu-left {
  width: 260px;
}
.menu-left a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.csagidekor {
  font-family: "Fredericka the Great", cursive;
  font-size: 36px;
  color: #322724;
}

.logo-ct {
  padding-top: 2px;
}

.menu-right-ct {
  display: flex;
  align-items: center;
}
.mobile-menu a {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
}
.mobile-menu-img-ct {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.mobile-menu-img-ct img {
  width: 100%;
  height: 100%;
}
.menu-right-ct .menu {
  width: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-right-ct .menu li {
  margin-top: 4px;
  border-bottom: 4px solid transparent;
  transition: border 1s;
  cursor: pointer;
}
.menu-right-ct .menu li a {
  font-family: "Fredericka the Great", cursive;
  font-size: 22px;
  color: #322724;
}
.menu-right-ct .menu .underline {
  border-bottom: 4px solid #7b5e5c;
}
.menu-right-ct .menu li:hover {
  border-bottom: 4px solid #7b5e5c;
}
@keyframes rolldown {
  from {
    height: 0;
  }
  to {
    height: 150px;
  }
}
@keyframes rollup {
  from {
    height: 150px;
  }
  to {
    height: 0;
  }
}
.mobile-menu {
  display: none;
  height: 150px;
  animation-name: rolldown;
  animation-duration: 0.6s;
}
.mobile-menu-up {
  display: block;
  height: 0;
  animation-name: rollup;
  animation-duration: 1s;
}
.mobile-menu-down {
  display: block;
  height: 150px;
  animation-name: rolldown;
  animation-duration: 1s;
}
.mobile-menu li {
  width: 100%;
  height: 33.3%;
  background-color: #e5cbbf;
  background-image: linear-gradient(#eee0da, #e5cbbf);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu li a {
  font-family: "Fredericka the Great", cursive;
  font-size: 22px;
  color: #322724;
}

.blue {
  background-color: blue;
  color: blue;
}

.big-picture-window {
  width: 600px;
  border: 1px solid #b7918d;
  border-radius: 12px;
  background-color: #e5cbbf;
  position: fixed;
  top: 160px;
  left: calc((100% - 600px) / 2);
  z-index: 50;
  box-shadow: 8px 12px 10px 0 #322724;
  display: none;
}

.big-picture-ct img {
  width: 98%;

  margin: 1%;
}
.picture-header {
  width: 100%;
  height: 60px;
  border-radius: 12px 12px 0 0;
  background-color: #e5cbbf;
  background-image: linear-gradient(#eee0da, #e5cbbf);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.close-ct {
  width: 44px;
  height: 44px;
  margin: 2px 12px 0 0;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 0.4s;
}
.close-ct img {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.4s;
}
.close-ct:hover {
  background-color: #e5cbbf;
}
.close-ct:hover img {
  opacity: 0.7;
}
.section-basic {
  width: 1200px;
  padding: 20px 80px;
  margin-left: calc((100% - 1200px) / 2);
  background-color: #fbf8f6;
}
.section1 {
}
.dekor-ct {
  display: flex;
  flex-wrap: wrap;
}
.section2 {
}
.ajandek-ct {
  display: flex;
  flex-wrap: wrap;
}
.section3 {
  padding-bottom: 200px;
}
.ekszer-ct {
  display: flex;
  flex-wrap: wrap;
}
h2 {
  font-size: 50px;
  font-family: "Srisakdi", cursive;
  color: #7b5e5c;
  text-align: center;
  padding: 120px 0 60px 0;
  margin: 0;
}

.img-ct {
  width: 236px;
  height: 236px;

  margin: 12px;
  border-radius: 8%;
}
.img-ct img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s;
  border-radius: 8%;
}
.img-ct:hover img {
  opacity: 0.7;
}
.footer-splay {
  transform: rotate(-3deg);
  height: 68px;
  background-color: #eee0da;
  margin-top: -36px;
}
footer {
  height: 590px;
  background-color: #e5cbbf;
  background-image: linear-gradient(#eee0da, #d1ac9c);
  padding: 30px 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  position: relative;
}

.footer-csagidekor {
  width: 260px;
  display: flex;
  justify-content: space-between;
}
.footer-menu {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-menu li a {
  color: #322724;
  border-bottom: 2px solid transparent;
  transition: border 1s;
  cursor: pointer;
  margin-right: 30px;
}
.fade {
  width: 80%;
}
.fade a {
  color: #322724;
  transition: color 0.3s;
}
.footer-menu .menu-li a:hover {
  border-bottom: 2px solid #a6817e;
}
.fade a:hover {
  color: #7e6c67;
}
.share {
  margin-top: 40px;
  width: 260px;
  display: flex;
  justify-content: space-between;
}
.share div {
  width: 44px;
  height: 44px;
}
.share div img {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}
.share div img:hover {
  opacity: 0.7;
}
.admin {
  margin-top: 40px;
  cursor: pointer;
  font-size: 14px;
}
.madeby {
  margin: 50px 0 20px 0;
  color: #322724;
}
.madeby-line {
  margin: 8px 0;
  position: relative;
}
.madeby-line div {
  display: inline-block;
  margin: 8px;
  position: absolute;
  top: -8px;
}
.madeby-line div a {
  color: #322724;
}
.madeby-line img {
  margin-right: 20px;
}

#globe {
  margin-left: 2px;
  margin-right: 22px;
  margin-top: 2px;
}

.termsofuse-privacypolicy {
  margin-top: 40px;
  width: 340px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.privacypolicy-ct {
  width: 154px;
}
.termsofuse-ct {
  width: 150px;
}
.separator {
  width: 2px;
  height: 18px;
  background-color: #7e6c67;
}

.rights div,
.rights img {
  margin-top: 16px;
  float: left;
  font-size: 14px;
}
.rights img {
  margin: 19px 8px 0 8px;
}
#pottyok2 {
  position: absolute;
  right: -2px;
  bottom: -8px;
}

/*
Bemutatkozás:
*/
.section-bemutatkozas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 800px;

  padding-bottom: 200px;
}
h3 {
  font-size: 28px;
  color: #7b5e5c;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.bemutatkozas-ct {
  margin-top: 80px;
}
.bemutatkozas {
  width: 600px;
  font-size: 20px;
  color: #7b5e5c;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}
.profile-ct {
  margin-top: 60px;
  width: 280px;
  border-radius: 100px;
}
.profile-ct img {
  width: 100%;
  border-radius: 146px / 210px;
}

/************     Kapcsolat       *********/

.section-kapcsolat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 800px;
  padding-bottom: 200px;
}
.info {
  width: 600px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  margin-top: 80px;
}
.info-line {
  position: relative;
  margin: 20px 0;
  cursor: pointer;
  color: #322724;
}
.info-line a {
  color: #322724;
}
.info-line:hover a,
.info-line:hover div {
  color: #7e6c67;
}
.kapcsolat-img-ct {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.kapcsolat-img-ct img {
  opacity: 1;
  transition: opacity 0.5s;
}
.info-line:hover .kapcsolat-img-ct img {
  opacity: 0.7;
}
.phone-img-ct {
  margin-left: -3px;
  margin-right: 3px;
}
.info-data {
  display: inline-block;
  position: absolute;
  top: 4px;
  margin-left: 28px;
}
.phone .info-data,
.face .info-data {
  top: 8px;
}

/*********        Provacy policy        ***************/
.section-privacypolicy {
  height: 800px;
}
.privacypolicy-description {
  font-size: 20px;
  color: #322724;
}

/***************       Reszponzivitás         ********/

@media screen and (max-width: 1199px) {
  /*
  .csagidekor {
    background-color: yellow;
  }
  */
  body {
    background-image: none;
  }

  .section-basic {
    width: 100%;
    margin: 0;
  }

  .section1 {
    padding-right: 100px;
    padding-left: 100px;
  }
  .section2 {
    padding-right: 100px;
    padding-left: 100px;
  }
  .img-ct {
    float: left;
    margin-right: calc((100% - 708px) / 6);
    margin-left: calc((100% - 708px) / 6);
  }
  .bemutatkozas {
    width: 500px;
  }
  .info {
    width: 500px;
  }
}

@media screen and (max-width: 1010px) {
  /*
  .csagidekor {
    background-color: blue;
  }
  */
  .section-basic {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section1 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section2 {
  }
  .img-ct {
    width: 236px;
    height: 236px;
    float: left;
    margin-right: calc((100% - 708px) / 6);
    margin-left: calc((100% - 708px) / 6);
  }
  #pottyok2 {
    display: none;
  }
  .profile-ct {
    width: 280px;
  }
  .bemutatkozas {
    width: 460px;
    font-size: 18px;
  }
  .info {
    width: 460px;
    font-size: 18px;
  }
}

@media screen and (max-width: 824px) {
  /*
  .csagidekor {
    background-color: green;
  }
  */
  .menu-left {
    width: 210px;
  }
  .menu-right-ct .menu {
    display: none;
  }

  .mobile-menu-img-ct {
    display: block;
  }

  .menu-left .csagidekor {
    font-size: 30px;
  }
  .menu-left img {
    height: 30px;
    width: 30px;
  }

  .menu-left a {
    margin-top: 9px;
  }
  h2 {
    font-size: 38px;
    padding: 40px 0 20px 0;
    margin-top: 60px;
  }
  .big-picture-window {
    width: 500px;
    left: calc((100% - 500px) / 2);
  }
  .picture-header {
    width: 100%;
    height: 50px;
  }
  .section1 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section2 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section3 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .img-ct {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: calc((100% - 600px) / 6);
    margin-right: calc((100% - 600px) / 6);
  }
  .profile-ct {
    width: 200px;
  }
  .bemutatkozas {
    width: 400px;
    font-size: 16px;
  }
  .info {
    width: 400px;
    font-size: 16px;
  }
}

@media screen and (max-width: 705px) {
  /*
  .csagidekor {
    background-color: red;
  }
  */
  h2 {
    font-size: 30px;
    margin-top: 40px;
  }
  .big-picture-window {
    width: 80%;
    left: 10%;
  }
  .picture-header {
    width: 100%;
    height: 40px;
  }
  .close-ct {
    width: 36px;
    height: 36px;
  }
  .section1 {
    padding-right: 12px;
    padding-left: 12px;
  }

  .section2 {
    padding-right: 12px;
    padding-left: 12px;
  }
  .section3 {
    padding-right: 12px;
    padding-left: 12px;
  }
  .img-ct {
    width: 160px;
    height: 160px;
    float: left;
    margin-left: calc((100% - 480px) / 6);
    margin-right: calc((100% - 480px) / 6);
  }
  .section-bemutatkozas {
    display: block;
    height: 1200px;
  }
  .section-kapcsolat {
    display: block;
    height: 880px;
  }
  .profile-ct {
    width: 300px;
    margin-left: calc((100% - 300px) / 2);
  }
  h3 {
    padding: 0 12px;
  }
  .bemutatkozas-ct {
    margin-top: 20px;
    padding-top: 30px;
  }
  .bemutatkozas {
    width: 100%;
    font-size: 16px;
    padding: 0 12px;
  }
  .kapcsolat-img-ct {
    width: 30px;
    height: 30px;
  }
  .kapcsolat-img-ct img {
    width: 100%;
    height: 100%;
  }
  .info {
    width: 100%;
    font-size: 14px;
    padding: 0 12px;
    margin-top: 40px;
    padding-top: 30px;
  }
  .info-data {
    margin-left: 18px;
  }

  footer {
    height: 720px;
  }
  .footer-menu {
    margin-top: 40px;
    display: block;
  }
  .footer-menu li {
    margin: 12px 0;
  }
  .separator {
    display: none;
  }
  .termsofuse-privacypolicy {
    margin-top: 40px;
    width: 250px;
    display: block;
  }
  .termsofuse-privacypolicy div {
    margin: 12px 0;
  }
}
@media screen and (max-width: 650px) {
  /*
  .csagidekor {
    background-color: pink;
  }
  */
  .img-ct {
    width: 100px;
    height: 100px;
    margin-left: calc((100% - 300px) / 6);
    margin-right: calc((100% - 300px) / 6);
  }
  .section1 {
    padding-right: 8px;
    padding-left: 8px;
  }
  .section2 {
    padding-right: 8px;
    padding-left: 8px;
  }
  .section3 {
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 100px;
  }
  .info {
    padding-left: 4px;
    padding-right: 4px;
  }
  .info-data {
    margin-left: 12px;
  }
}
